/* .card-columns{
    background-color: lawngreen;
} */
/* .col-sm-3{
    background-color: lightgray;

} */

/* .col-md-6{
    background-color: lightgreen;
} */

/* .col-sm-2{
    background-color: lightsalmon;
} */